
.icon-adult:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
